@use "../utils/" as *;

[class*="__title"] {
  @include flexbox(column, center, center);
  @include textHeading(18px)
}

[class*="__summry"] {
  @include textStyle(15px);
}

.home {

  margin: rem(16px) re(12px);
  @include flexbox(column);
  gap: rem(16px);
}

.appMain {
  padding-top: rem(20px);
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;


  @include desktop {
    display: grid;
    // @include gridbox(12, 10);
    grid-template-columns: repeat(11, 1fr);

  }

}

.news {
  grid-column-start: 1;
  grid-column-end: 12;

  &__videoContainer {
    padding-bottom: rem(20px)
  }


}

.book {
  &__coverCaption {
    text-align: left;
    font-weight: 700;
  }

  &__info {
    font-weight: 700;
  }

  grid-column-start: 1;
  grid-column-end: 3;

}

.twitter {
  grid-column-start: 8;
  grid-column-end: 12;

  &__userProfile {
    float: right;
    width: 20%;
    max-width: 100px;
    height: 110px;
  }

  &__userProfileImage {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 40%;
  }

  &__userInfo {
    display: flex;
  }

  a {
    color: $accent-twitter;
  }
}

.favorite {
  grid-column-start: 5;
  grid-column-end: 8;


}

.board {
  grid-column-start: 3;
  grid-column-end: 12;

  &__date {
    float: right;
  }

  &__more {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__link .accentBoard:before {
    margin-right: rem(10px)
  }
}

.book,
.favorite,
.twitter {
  grid-row-start: 2;
  grid-row-end: 4;
}

.board {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
}

.book,
.news,
.board,
.favorite,
.twitter {

  position: relative;

  &__title {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: rem(20px);
  }

  &__enTitle {
    display: block;
    word-break: keep-all;
  }

  &__summary {
    padding-bottom: rem(20px)
  }

  a {
    color: $black;
  }
}

.book {
  width: fit-content;


  &__coverCaption {
    margin-top: rem(16px);
    text-align: center;
  }

  &__info {
    @include marginY;

    dt:first-child {
      margin-right: rem(18px);
    }

    @include flexbox($j: center, $w: wrap);
  }

  .ratingStar {
    width: 100%;

  }

}


.iframeWrapper {
  @include responseIframe
}