.allyHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  line-height: 1.5;
  font-weight: 700;
}

/* 1024px */
.accentBook {
  color: #abd375;
}

.accentNews {
  color: #e8ca58;
}

.accentBoard {
  color: #988574;
}

.accentFavorite {
  color: #eea60a;
}

.accentTwitter {
  color: #6aaee6;
}

.sprite {
  min-height: 3.75rem;
  background-image: url(./../assets/images/sprite_main.png);
  background-repeat: no-repeat;
  padding-left: 4rem;
}
.spriteBook {
  background-position: 0 0;
}
.spriteBoard {
  background-position: 0 -115px;
}
.spriteNews {
  background-position: 0 -230px;
}
.spriteFavorite {
  background-position: 0 -345px;
}
.spriteTwitter {
  background-position: 0 -460px;
}

.formInput__input {
  -webkit-appearnce: none;
  appearance: none;
  border: 1px solid #767676;
  border-radius: 0.25rem;
  height: 2rem;
  padding: 0.25rem 0.5rem;
}

.button {
  border: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.button--none {
  border: none;
  background: transparent;
  padding: 0;
}
.button--fill {
  background: #988574;
  height: 2rem;
  font-size: 0.875rem;
}
.button--burger {
  width: 2.625rem;
  position: relative;
  height: 2.625rem;
  background: none;
  border: none;
  padding: 0px;
}
.button--burgerBarTop, .button--burgerBarMiddle, .button--burgerBarBottom {
  background-color: white;
  position: absolute;
  display: block;
  width: 2.625rem;
  height: 0.3125rem;
  border-radius: 10px;
  transition: all 350ms;
}
.button--burgerBarTop {
  top: 0;
}
.button--burgerBarMiddle {
  top: 50%;
  transform: translateY(-50%);
}
.button--burgerBarBottom {
  top: 100%;
  transform: translateY(-100%);
}
.is--active .button--burgerBarTop {
  top: 50%;
  transform: translate(0%, -50%) rotate(45deg);
}
.is--active .button--burgerBarMiddle {
  top: 50%;
  transform: translate(120%, 50%) rotate(0deg);
}
.is--active .button--burgerBarBottom {
  top: 50%;
  transform: translate(0%, -50%) rotate(-45deg);
}
.appHeader {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .appHeader {
    background: #38302e;
  }
}
@media (min-width: 768px) {
  .appHeader {
    background: #fff;
    min-width: 768px;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
  }
}
.appHeader .buttonWrapper {
  overflow: hidden;
}
@media (max-width: 767px) {
  .appHeader .buttonWrapper {
    position: absolute;
    right: 1.25rem;
    top: 2.5rem;
  }
}

.logo {
  position: absolute;
  top: 2.5rem;
  left: 0.625rem;
}
.logo__link {
  display: block;
  width: 12.75rem;
  height: 3.6875rem;
  background-image: url("./../assets/images/webcafe-logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  .logo__link {
    background-image: url("./../assets/images/webcafe-logo@2x.png");
  }
}

.memberOnly {
  top: 1rem;
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .memberOnly {
    order: -1;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: -0.2em;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .memberOnly a {
    color: #fff;
  }
}

.searchForm {
  margin-top: 3.125rem;
}
.searchForm__group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .searchForm .formInput {
    flex-grow: 1;
  }
}
@media (min-width: 768px) {
  .searchForm .formInput {
    width: 25rem;
  }
}
.searchForm .formInput__input {
  width: 100%;
}
.searchForm .button--primary {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .button--burger {
    display: none;
  }
}

.appNavigation {
  background-color: #38302e;
}

.menu {
  display: none;
}
.menu .is--actvie {
  display: block;
}
.menu__link {
  color: #fff;
}
@media (min-width: 768px) {
  .menu__list {
    display: flex;
    justify-content: space-around;
    color: #fff;
    max-width: 67rem;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    width: 100%;
    color: #fff;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .menu {
    height: 100%;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(238, 166, 10, 0.5);
    padding: 1.25rem;
  }
  .menu__list {
    width: calc(100% - 120px);
    position: fixed;
    height: 100%;
    top: 3.125rem;
  }
  .menu__item {
    margin-bottom: 0.625rem;
    border-bottom: 1px solid #000;
  }
}

.appFooter {
  background-color: #38302e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: #fff;
}
.appFooter .address {
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .appFooter .address {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
.appFooter a {
  color: #fff;
}

[class*=__title] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.4;
  font-size: 1.125rem;
}

[class*=__summry] {
  font-size: 0.9375rem;
  letter-spacing: -0.2em;
  line-height: 1.5;
}

.home {
  margin: 1rem re(12px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.appMain {
  padding-top: 1.25rem;
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .appMain {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }
}

.news {
  grid-column-start: 1;
  grid-column-end: 12;
}
.news__videoContainer {
  padding-bottom: 1.25rem;
}

.book {
  grid-column-start: 1;
  grid-column-end: 3;
}
.book__coverCaption {
  text-align: left;
  font-weight: 700;
}
.book__info {
  font-weight: 700;
}

.twitter {
  grid-column-start: 8;
  grid-column-end: 12;
}
.twitter__userProfile {
  float: right;
  width: 20%;
  max-width: 100px;
  height: 110px;
}
.twitter__userProfileImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 40%;
}
.twitter__userInfo {
  display: flex;
}
.twitter a {
  color: #6aaee6;
}

.favorite {
  grid-column-start: 5;
  grid-column-end: 8;
}

.board {
  grid-column-start: 3;
  grid-column-end: 12;
}
.board__date {
  float: right;
}
.board__more {
  position: absolute;
  top: 0;
  right: 0;
}
.board__link .accentBoard:before {
  margin-right: 0.625rem;
}

.book,
.favorite,
.twitter {
  grid-row-start: 2;
  grid-row-end: 4;
}

.board {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
}

.book,
.news,
.board,
.favorite,
.twitter {
  position: relative;
}
.book__title,
.news__title,
.board__title,
.favorite__title,
.twitter__title {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.25rem;
}
.book__enTitle,
.news__enTitle,
.board__enTitle,
.favorite__enTitle,
.twitter__enTitle {
  display: block;
  word-break: keep-all;
}
.book__summary,
.news__summary,
.board__summary,
.favorite__summary,
.twitter__summary {
  padding-bottom: 1.25rem;
}
.book a,
.news a,
.board a,
.favorite a,
.twitter a {
  color: #000;
}

.book {
  width: fit-content;
}
.book__coverCaption {
  margin-top: 1rem;
  text-align: center;
}
.book__info {
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.book__info dt:first-child {
  margin-right: 1.125rem;
}
.book .ratingStar {
  width: 100%;
}

.iframeWrapper {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding-top: 56.25%;
}
.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

section,
article {
  margin-bottom: 3rem;
  padding: 2rem;
}

.a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

legend {
  display: none;
}

/*# sourceMappingURL=index.css.map */
